* {
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 50px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu .menu__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

.menu__item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu__item:last-child {
  border-right: none;
}

.subheader {
  top: 50px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader__logo {
  display: inline-block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader__call {
  text-align: right;
}

.subheader__call__text {
  margin-top: 23px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

.subheader__call__phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader__button {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.promo {
  min-height: 748px;
  background: url(../img/decor/section1.jpg) center center/cover no-repeat;
  padding: 201px 0 135px 0;
}

.promo__header {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 50px;
  text-align: center;
}

.promo__subheader {
  margin: 0;
  margin-top: 22px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
}

.promo__descr {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 118px auto 0 auto;
}

.causes {
  min-height: 899px;
}

.causes__first {
  margin: 71px auto 28px auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  text-align: center;
}

.causes__label {
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.causes__tittle {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 90%;
}

.card__box {
  margin-left: 26px;
  max-width: 343px;
}

.card__header {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.card__descr {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  background-color: #000;
  background: url(../img/decor/section3.jpg) center center/cover no-repeat;
  padding: 48px 0 79px 0;
}

.mobile__first {
  margin: 0 auto 28px auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  text-align: center;
}

.mobile__label {
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.mobile__tittle {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.mobile__subtittle {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}

.mobile__item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  text-align: center;
}

.mobile__item_1 {
  background: url(../img/decor/mob-1.jpg) center center/cover no-repeat;
}

.mobile__item_2 {
  background: url(../img/decor/mob-2.jpg) center center/cover no-repeat;
}

.mobile__item_3 {
  background: url(../img/decor/mob-3.jpg) center center/cover no-repeat;
}

.mobile__item_4 {
  background: url(../img/decor/mob-4.jpg) center center/cover no-repeat;
}

.mobile__item_5 {
  background: url(../img/decor/mob-5.jpg) center center/cover no-repeat;
}

.mobile__item_6 {
  background: url(../img/decor/mob-6.jpg) center center/cover no-repeat;
}

.mobile__item__subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 92px;
}

.mobile__item__plus {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.mobile__item__plus img {
  max-width: 100%;
  padding: 6px;
}
/*# sourceMappingURL=style.css.map */