.title
  color: #0d0d0d
  font-size: $px30
  font-weight: 700
  text-align: center
.advantages
  background-color: #f6f6f6
  padding: $px70 $px20 $px80  $px20
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-top: 65px
  &__item
    margin: 0 10px 0 10px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    max-width: 236px
    img
      width: 70px
      height: 70px
  &__subtitle
    margin-top: $px38
    color: #0d0d0d
    font-size: $px18
    font-weight: 700
    text-align: center

  &__descr
    margin-top: $px26
    color: #0d0d0d
    font-size: $px14
    font-weight: 300
    line-height: $px20
    text-align: center
    a
      color: #ff0000
      text-decoration: underline