.task {
  background-color: bisque;
  color: darkmagenta;
  text-shadow: 0.5px 0.5px 0.6px black;
}

.task ul {
  margin: 5px;
  margin-bottom: 0;
}

.border {
  height: 780px;
  background: url("../img/background.jpg") center center/cover no-repeat;
  padding-top: 189px;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  /*min-width: 1200px;*/
  /*margin-left: 390px;*/
  margin: 0 auto;
}

.title {
  color: #7c6db0;
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 47px;
}

.btn-purple {
  width: 409px;
  height: 70px;
  background-color: #7f70b1;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  margin-bottom: 94px;
  margin-left: 5px;
}

.box-tooth {
  display: flex;
  margin-top: 110px;
  margin-left: 10px;
  margin-bottom: 115px;
}

.box-tooth img {
  width: 52px;
  height: 60px;
  margin-right: 40px;
}

.tooth-text {
  max-width: 285px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
}

.btn {
  width: 360px;
  height: 80px;
  box-shadow: 0 2px 16px rgba(0, 215, 255, 0.44);
  background-color: #1eb8b0;
  background-image: linear-gradient(-230deg, #01c4e0 0%, #01b3e0 100%);
  outline: none;
  border: none;

  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 22px;
  font-weight: 700;
  padding-left: 22px;
  cursor: pointer;
  margin-left: 3px;
}

.btn-o {
  border: 2px solid #01c4e0;
  background: none;
  margin-left: 27px;
  padding-left: 10px;

  color: #01b3e0;
}

.girl {
  margin-left: 70px;
  background: url("../img/bg/bg_main.jpg") center center/cover no-repeat;
  transform: translateY(-140px);
}

@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .border {
    height: 950px;
  }

  .box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    text-align: center;
    margin-top: 170px;
  }

  .btn-purple {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
  }

  .box-tooth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
  }

  .btn {
    margin-bottom: 30px;
    margin-left: 0;
  }

  .girl {
    position: absolute;
    //margin-left: 0;
    background: url("../img/bg/bg_main.jpg") center center/cover no-repeat;
    /*transform: translateY(-140px);*/
    transform: translate(-80px, -170px);
  }

  .girl img {
    width: 230px;
  }
} /* Other desktops */

@media (min-width: 1200px) and (max-width: 1420px) {
  .btn {
    margin-bottom: 20px;
  }

  .btn-o {
    margin-left: 0px;
  }
}
