/* Base font-size:16px */
$baseRem: 16;

$rem1: 1/$baseRem+rem;
$rem2: 2/$baseRem+rem;
$rem3: 3/$baseRem+rem;
$rem4: 4/$baseRem+rem;
$rem5: 5/$baseRem+rem;
$rem6: 6/$baseRem+rem;
$rem7: 7/$baseRem+rem;
$rem8: 8/$baseRem+rem;
$rem9: 9/$baseRem+rem;
$rem10: 10/$baseRem+rem;
$rem11: 11/$baseRem+rem;
$rem12: 12/$baseRem+rem;
$rem13: 13/$baseRem+rem;
$rem14: 14/$baseRem+rem;
$rem15: 15/$baseRem+rem;
$rem16: 16/$baseRem+rem;
$rem17: 17/$baseRem+rem;
$rem18: 18/$baseRem+rem;
$rem19: 19/$baseRem+rem;
$rem20: 20/$baseRem+rem;
$rem21: 21/$baseRem+rem;
$rem22: 22/$baseRem+rem;
$rem23: 23/$baseRem+rem;
$rem24: 24/$baseRem+rem;
$rem25: 25/$baseRem+rem;
$rem26: 26/$baseRem+rem;
$rem27: 27/$baseRem+rem;
$rem28: 28/$baseRem+rem;
$rem29: 29/$baseRem+rem;
$rem30: 30/$baseRem+rem;
$rem31: 31/$baseRem+rem;
$rem32: 32/$baseRem+rem;
$rem33: 33/$baseRem+rem;
$rem34: 34/$baseRem+rem;
$rem35: 35/$baseRem+rem;
$rem36: 36/$baseRem+rem;
$rem37: 37/$baseRem+rem;
$rem38: 38/$baseRem+rem;
$rem39: 39/$baseRem+rem;
$rem40: 40/$baseRem+rem;
$rem41: 41/$baseRem+rem;
$rem42: 42/$baseRem+rem;
$rem43: 43/$baseRem+rem;
$rem44: 44/$baseRem+rem;
$rem45: 45/$baseRem+rem;
$rem46: 46/$baseRem+rem;
$rem47: 47/$baseRem+rem;
$rem48: 48/$baseRem+rem;
$rem49: 49/$baseRem+rem;
$rem50: 50/$baseRem+rem;
$rem51: 51/$baseRem+rem;
$rem52: 52/$baseRem+rem;
$rem53: 53/$baseRem+rem;
$rem54: 54/$baseRem+rem;
$rem55: 55/$baseRem+rem;
$rem56: 56/$baseRem+rem;
$rem57: 57/$baseRem+rem;
$rem58: 58/$baseRem+rem;
$rem59: 59/$baseRem+rem;
$rem60: 60/$baseRem+rem;
$rem61: 61/$baseRem+rem;
$rem62: 62/$baseRem+rem;
$rem63: 63/$baseRem+rem;
$rem64: 64/$baseRem+rem;
$rem65: 65/$baseRem+rem;
$rem66: 66/$baseRem+rem;
$rem67: 67/$baseRem+rem;
$rem68: 68/$baseRem+rem;
$rem69: 69/$baseRem+rem;
$rem70: 70/$baseRem+rem;
$rem71: 71/$baseRem+rem;
$rem72: 72/$baseRem+rem;
$rem73: 73/$baseRem+rem;
$rem74: 74/$baseRem+rem;
$rem75: 75/$baseRem+rem;
$rem76: 76/$baseRem+rem;
$rem77: 77/$baseRem+rem;
$rem78: 78/$baseRem+rem;
$rem79: 79/$baseRem+rem;
$rem80: 80/$baseRem+rem;
$rem81: 81/$baseRem+rem;
$rem82: 82/$baseRem+rem;
$rem83: 83/$baseRem+rem;
$rem84: 84/$baseRem+rem;
$rem85: 85/$baseRem+rem;
$rem86: 86/$baseRem+rem;
$rem87: 87/$baseRem+rem;
$rem88: 88/$baseRem+rem;
$rem89: 89/$baseRem+rem;
$rem90: 90/$baseRem+rem;
$rem91: 91/$baseRem+rem;
$rem92: 92/$baseRem+rem;
$rem93: 93/$baseRem+rem;
$rem94: 94/$baseRem+rem;
$rem95: 95/$baseRem+rem;
$rem96: 96/$baseRem+rem;
$rem97: 97/$baseRem+rem;
$rem98: 98/$baseRem+rem;
$rem99: 99/$baseRem+rem;
$rem100: 100/$baseRem+rem;
$rem101: 101/$baseRem+rem;
$rem102: 102/$baseRem+rem;
$rem103: 103/$baseRem+rem;
$rem104: 104/$baseRem+rem;
$rem105: 105/$baseRem+rem;
$rem106: 106/$baseRem+rem;
$rem107: 107/$baseRem+rem;
$rem108: 108/$baseRem+rem;
$rem109: 109/$baseRem+rem;
$rem110: 110/$baseRem+rem;
$rem111: 111/$baseRem+rem;
$rem112: 112/$baseRem+rem;
$rem113: 113/$baseRem+rem;
$rem114: 114/$baseRem+rem;
$rem115: 115/$baseRem+rem;
$rem116: 116/$baseRem+rem;
$rem117: 117/$baseRem+rem;
$rem118: 118/$baseRem+rem;
$rem119: 119/$baseRem+rem;
$rem120: 120/$baseRem+rem;
$rem121: 121/$baseRem+rem;
$rem122: 122/$baseRem+rem;
$rem123: 123/$baseRem+rem;
$rem124: 124/$baseRem+rem;
$rem125: 125/$baseRem+rem;
$rem126: 126/$baseRem+rem;
$rem127: 127/$baseRem+rem;
$rem128: 128/$baseRem+rem;
$rem129: 129/$baseRem+rem;
$rem130: 130/$baseRem+rem;
$rem131: 131/$baseRem+rem;
$rem132: 132/$baseRem+rem;
$rem133: 133/$baseRem+rem;
$rem134: 134/$baseRem+rem;
$rem135: 135/$baseRem+rem;
$rem136: 136/$baseRem+rem;
$rem137: 137/$baseRem+rem;
$rem138: 138/$baseRem+rem;
$rem139: 139/$baseRem+rem;
$rem140: 140/$baseRem+rem;
$rem141: 141/$baseRem+rem;
$rem142: 142/$baseRem+rem;
$rem143: 143/$baseRem+rem;
$rem144: 144/$baseRem+rem;
$rem145: 145/$baseRem+rem;
$rem146: 146/$baseRem+rem;
$rem147: 147/$baseRem+rem;
$rem148: 148/$baseRem+rem;
$rem149: 149/$baseRem+rem;
$rem150: 150/$baseRem+rem;
$rem151: 151/$baseRem+rem;
$rem152: 152/$baseRem+rem;
$rem153: 153/$baseRem+rem;
$rem154: 154/$baseRem+rem;
$rem155: 155/$baseRem+rem;
$rem156: 156/$baseRem+rem;
$rem157: 157/$baseRem+rem;
$rem158: 158/$baseRem+rem;
$rem159: 159/$baseRem+rem;
$rem160: 160/$baseRem+rem;
$rem161: 161/$baseRem+rem;
$rem162: 162/$baseRem+rem;
$rem163: 163/$baseRem+rem;
$rem164: 164/$baseRem+rem;
$rem165: 165/$baseRem+rem;
$rem166: 166/$baseRem+rem;
$rem167: 167/$baseRem+rem;
$rem168: 168/$baseRem+rem;
$rem169: 169/$baseRem+rem;
$rem170: 170/$baseRem+rem;
$rem171: 171/$baseRem+rem;
$rem172: 172/$baseRem+rem;
$rem173: 173/$baseRem+rem;
$rem174: 174/$baseRem+rem;
$rem175: 175/$baseRem+rem;
$rem176: 176/$baseRem+rem;
$rem177: 177/$baseRem+rem;
$rem178: 178/$baseRem+rem;
$rem179: 179/$baseRem+rem;
$rem180: 180/$baseRem+rem;
$rem181: 181/$baseRem+rem;
$rem182: 182/$baseRem+rem;
$rem183: 183/$baseRem+rem;
$rem184: 184/$baseRem+rem;
$rem185: 185/$baseRem+rem;
$rem186: 186/$baseRem+rem;
$rem187: 187/$baseRem+rem;
$rem188: 188/$baseRem+rem;
$rem189: 189/$baseRem+rem;
$rem190: 190/$baseRem+rem;
$rem191: 191/$baseRem+rem;
$rem192: 192/$baseRem+rem;
$rem193: 193/$baseRem+rem;
$rem194: 194/$baseRem+rem;
$rem195: 195/$baseRem+rem;
$rem196: 196/$baseRem+rem;
$rem197: 197/$baseRem+rem;
$rem198: 198/$baseRem+rem;
$rem199: 199/$baseRem+rem;
$rem200: 200/$baseRem+rem;
$rem201: 201/$baseRem+rem;
$rem202: 202/$baseRem+rem;
$rem203: 203/$baseRem+rem;
$rem204: 204/$baseRem+rem;
$rem205: 205/$baseRem+rem;
$rem206: 206/$baseRem+rem;
$rem207: 207/$baseRem+rem;
$rem208: 208/$baseRem+rem;
$rem209: 209/$baseRem+rem;
$rem210: 210/$baseRem+rem;
$rem211: 211/$baseRem+rem;
$rem212: 212/$baseRem+rem;
$rem213: 213/$baseRem+rem;
$rem214: 214/$baseRem+rem;
$rem215: 215/$baseRem+rem;
$rem216: 216/$baseRem+rem;
$rem217: 217/$baseRem+rem;
$rem218: 218/$baseRem+rem;
$rem219: 219/$baseRem+rem;
$rem220: 220/$baseRem+rem;
$rem221: 221/$baseRem+rem;
$rem222: 222/$baseRem+rem;
$rem223: 223/$baseRem+rem;
$rem224: 224/$baseRem+rem;
$rem225: 225/$baseRem+rem;
$rem226: 226/$baseRem+rem;
$rem227: 227/$baseRem+rem;
$rem228: 228/$baseRem+rem;
$rem229: 229/$baseRem+rem;
$rem230: 230/$baseRem+rem;
$rem231: 231/$baseRem+rem;
$rem232: 232/$baseRem+rem;
$rem233: 233/$baseRem+rem;
$rem234: 234/$baseRem+rem;
$rem235: 235/$baseRem+rem;
$rem236: 236/$baseRem+rem;
$rem237: 237/$baseRem+rem;
$rem238: 238/$baseRem+rem;
$rem239: 239/$baseRem+rem;
$rem240: 240/$baseRem+rem;
$rem241: 241/$baseRem+rem;
$rem242: 242/$baseRem+rem;
$rem243: 243/$baseRem+rem;
$rem244: 244/$baseRem+rem;
$rem245: 245/$baseRem+rem;
$rem246: 246/$baseRem+rem;
$rem247: 247/$baseRem+rem;
$rem248: 248/$baseRem+rem;
$rem249: 249/$baseRem+rem;
$rem250: 250/$baseRem+rem;
$rem251: 251/$baseRem+rem;
$rem252: 252/$baseRem+rem;
$rem253: 253/$baseRem+rem;
$rem254: 254/$baseRem+rem;
$rem255: 255/$baseRem+rem;
$rem256: 256/$baseRem+rem;
$rem257: 257/$baseRem+rem;
$rem258: 258/$baseRem+rem;
$rem259: 259/$baseRem+rem;
$rem260: 260/$baseRem+rem;
$rem261: 261/$baseRem+rem;
$rem262: 262/$baseRem+rem;
$rem263: 263/$baseRem+rem;
$rem264: 264/$baseRem+rem;
$rem265: 265/$baseRem+rem;
$rem266: 266/$baseRem+rem;
$rem267: 267/$baseRem+rem;
$rem268: 268/$baseRem+rem;
$rem269: 269/$baseRem+rem;
$rem270: 270/$baseRem+rem;
$rem271: 271/$baseRem+rem;
$rem272: 272/$baseRem+rem;
$rem273: 273/$baseRem+rem;
$rem274: 274/$baseRem+rem;
$rem275: 275/$baseRem+rem;
$rem276: 276/$baseRem+rem;
$rem277: 277/$baseRem+rem;
$rem278: 278/$baseRem+rem;
$rem279: 279/$baseRem+rem;
$rem280: 280/$baseRem+rem;
$rem281: 281/$baseRem+rem;
$rem282: 282/$baseRem+rem;
$rem283: 283/$baseRem+rem;
$rem284: 284/$baseRem+rem;
$rem285: 285/$baseRem+rem;
$rem286: 286/$baseRem+rem;
$rem287: 287/$baseRem+rem;
$rem288: 288/$baseRem+rem;
$rem289: 289/$baseRem+rem;
$rem290: 290/$baseRem+rem;
$rem291: 291/$baseRem+rem;
$rem292: 292/$baseRem+rem;
$rem293: 293/$baseRem+rem;
$rem294: 294/$baseRem+rem;
$rem295: 295/$baseRem+rem;
$rem296: 296/$baseRem+rem;
$rem297: 297/$baseRem+rem;
$rem298: 298/$baseRem+rem;
$rem299: 299/$baseRem+rem;
$rem300: 300/$baseRem+rem;
$rem301: 301/$baseRem+rem;
$rem302: 302/$baseRem+rem;
$rem303: 303/$baseRem+rem;
$rem304: 304/$baseRem+rem;
$rem305: 305/$baseRem+rem;
$rem306: 306/$baseRem+rem;
$rem307: 307/$baseRem+rem;
$rem308: 308/$baseRem+rem;
$rem309: 309/$baseRem+rem;
$rem310: 310/$baseRem+rem;
$rem311: 311/$baseRem+rem;
$rem312: 312/$baseRem+rem;
$rem313: 313/$baseRem+rem;
$rem314: 314/$baseRem+rem;
$rem315: 315/$baseRem+rem;
$rem316: 316/$baseRem+rem;
$rem317: 317/$baseRem+rem;
$rem318: 318/$baseRem+rem;
$rem319: 319/$baseRem+rem;
$rem320: 320/$baseRem+rem;
$rem321: 321/$baseRem+rem;
$rem322: 322/$baseRem+rem;
$rem323: 323/$baseRem+rem;
$rem324: 324/$baseRem+rem;
$rem325: 325/$baseRem+rem;
$rem326: 326/$baseRem+rem;
$rem327: 327/$baseRem+rem;
$rem328: 328/$baseRem+rem;
$rem329: 329/$baseRem+rem;
$rem330: 330/$baseRem+rem;
$rem331: 331/$baseRem+rem;
$rem332: 332/$baseRem+rem;
$rem333: 333/$baseRem+rem;
$rem334: 334/$baseRem+rem;
$rem335: 335/$baseRem+rem;
$rem336: 336/$baseRem+rem;
$rem337: 337/$baseRem+rem;
$rem338: 338/$baseRem+rem;
$rem339: 339/$baseRem+rem;
$rem340: 340/$baseRem+rem;
$rem341: 341/$baseRem+rem;
$rem342: 342/$baseRem+rem;
$rem343: 343/$baseRem+rem;
$rem344: 344/$baseRem+rem;
$rem345: 345/$baseRem+rem;
$rem346: 346/$baseRem+rem;
$rem347: 347/$baseRem+rem;
$rem348: 348/$baseRem+rem;
$rem349: 349/$baseRem+rem;
$rem350: 350/$baseRem+rem;
$rem351: 351/$baseRem+rem;
$rem352: 352/$baseRem+rem;
$rem353: 353/$baseRem+rem;
$rem354: 354/$baseRem+rem;
$rem355: 355/$baseRem+rem;
$rem356: 356/$baseRem+rem;
$rem357: 357/$baseRem+rem;
$rem358: 358/$baseRem+rem;
$rem359: 359/$baseRem+rem;
$rem360: 360/$baseRem+rem;
$rem361: 361/$baseRem+rem;
$rem362: 362/$baseRem+rem;
$rem363: 363/$baseRem+rem;
$rem364: 364/$baseRem+rem;
$rem365: 365/$baseRem+rem;
$rem366: 366/$baseRem+rem;
$rem367: 367/$baseRem+rem;
$rem368: 368/$baseRem+rem;
$rem369: 369/$baseRem+rem;
$rem370: 370/$baseRem+rem;
$rem371: 371/$baseRem+rem;
$rem372: 372/$baseRem+rem;
$rem373: 373/$baseRem+rem;
$rem374: 374/$baseRem+rem;
$rem375: 375/$baseRem+rem;
$rem376: 376/$baseRem+rem;
$rem377: 377/$baseRem+rem;
$rem378: 378/$baseRem+rem;
$rem379: 379/$baseRem+rem;
$rem380: 380/$baseRem+rem;
$rem381: 381/$baseRem+rem;
$rem382: 382/$baseRem+rem;
$rem383: 383/$baseRem+rem;
$rem384: 384/$baseRem+rem;
$rem385: 385/$baseRem+rem;
$rem386: 386/$baseRem+rem;
$rem387: 387/$baseRem+rem;
$rem388: 388/$baseRem+rem;
$rem389: 389/$baseRem+rem;
$rem390: 390/$baseRem+rem;
$rem391: 391/$baseRem+rem;
$rem392: 392/$baseRem+rem;
$rem393: 393/$baseRem+rem;
$rem394: 394/$baseRem+rem;
$rem395: 395/$baseRem+rem;
$rem396: 396/$baseRem+rem;
$rem397: 397/$baseRem+rem;
$rem398: 398/$baseRem+rem;
$rem399: 399/$baseRem+rem;
$rem400: 400/$baseRem+rem;
$rem401: 401/$baseRem+rem;
$rem402: 402/$baseRem+rem;
$rem403: 403/$baseRem+rem;
$rem404: 404/$baseRem+rem;
$rem405: 405/$baseRem+rem;
$rem406: 406/$baseRem+rem;
$rem407: 407/$baseRem+rem;
$rem408: 408/$baseRem+rem;
$rem409: 409/$baseRem+rem;
$rem410: 410/$baseRem+rem;
$rem411: 411/$baseRem+rem;
$rem412: 412/$baseRem+rem;
$rem413: 413/$baseRem+rem;
$rem414: 414/$baseRem+rem;
$rem415: 415/$baseRem+rem;
$rem416: 416/$baseRem+rem;
$rem417: 417/$baseRem+rem;
$rem418: 418/$baseRem+rem;
$rem419: 419/$baseRem+rem;
$rem420: 420/$baseRem+rem;
$rem421: 421/$baseRem+rem;
$rem422: 422/$baseRem+rem;
$rem423: 423/$baseRem+rem;
$rem424: 424/$baseRem+rem;
$rem425: 425/$baseRem+rem;
$rem426: 426/$baseRem+rem;
$rem427: 427/$baseRem+rem;
$rem428: 428/$baseRem+rem;
$rem429: 429/$baseRem+rem;
$rem430: 430/$baseRem+rem;
$rem431: 431/$baseRem+rem;
$rem432: 432/$baseRem+rem;
$rem433: 433/$baseRem+rem;
$rem434: 434/$baseRem+rem;
$rem435: 435/$baseRem+rem;
$rem436: 436/$baseRem+rem;
$rem437: 437/$baseRem+rem;
$rem438: 438/$baseRem+rem;
$rem439: 439/$baseRem+rem;
$rem440: 440/$baseRem+rem;
$rem441: 441/$baseRem+rem;
$rem442: 442/$baseRem+rem;
$rem443: 443/$baseRem+rem;
$rem444: 444/$baseRem+rem;
$rem445: 445/$baseRem+rem;
$rem446: 446/$baseRem+rem;
$rem447: 447/$baseRem+rem;
$rem448: 448/$baseRem+rem;
$rem449: 449/$baseRem+rem;
$rem450: 450/$baseRem+rem;
$rem451: 451/$baseRem+rem;
$rem452: 452/$baseRem+rem;
$rem453: 453/$baseRem+rem;
$rem454: 454/$baseRem+rem;
$rem455: 455/$baseRem+rem;
$rem456: 456/$baseRem+rem;
$rem457: 457/$baseRem+rem;
$rem458: 458/$baseRem+rem;
$rem459: 459/$baseRem+rem;
$rem460: 460/$baseRem+rem;
$rem461: 461/$baseRem+rem;
$rem462: 462/$baseRem+rem;
$rem463: 463/$baseRem+rem;
$rem464: 464/$baseRem+rem;
$rem465: 465/$baseRem+rem;
$rem466: 466/$baseRem+rem;
$rem467: 467/$baseRem+rem;
$rem468: 468/$baseRem+rem;
$rem469: 469/$baseRem+rem;
$rem470: 470/$baseRem+rem;
$rem471: 471/$baseRem+rem;
$rem472: 472/$baseRem+rem;
$rem473: 473/$baseRem+rem;
$rem474: 474/$baseRem+rem;
$rem475: 475/$baseRem+rem;
$rem476: 476/$baseRem+rem;
$rem477: 477/$baseRem+rem;
$rem478: 478/$baseRem+rem;
$rem479: 479/$baseRem+rem;
$rem480: 480/$baseRem+rem;
$rem481: 481/$baseRem+rem;
$rem482: 482/$baseRem+rem;
$rem483: 483/$baseRem+rem;
$rem484: 484/$baseRem+rem;
$rem485: 485/$baseRem+rem;
$rem486: 486/$baseRem+rem;
$rem487: 487/$baseRem+rem;
$rem488: 488/$baseRem+rem;
$rem489: 489/$baseRem+rem;
$rem490: 490/$baseRem+rem;
$rem491: 491/$baseRem+rem;
$rem492: 492/$baseRem+rem;
$rem493: 493/$baseRem+rem;
$rem494: 494/$baseRem+rem;
$rem495: 495/$baseRem+rem;
$rem496: 496/$baseRem+rem;
$rem497: 497/$baseRem+rem;
$rem498: 498/$baseRem+rem;
$rem499: 499/$baseRem+rem;
$rem500: 500/$baseRem+rem;
$rem501: 501/$baseRem+rem;
$rem502: 502/$baseRem+rem;
$rem503: 503/$baseRem+rem;
$rem504: 504/$baseRem+rem;
$rem505: 505/$baseRem+rem;
$rem506: 506/$baseRem+rem;
$rem507: 507/$baseRem+rem;
$rem508: 508/$baseRem+rem;
$rem509: 509/$baseRem+rem;
$rem510: 510/$baseRem+rem;
$rem511: 511/$baseRem+rem;
$rem512: 512/$baseRem+rem;
$rem513: 513/$baseRem+rem;
$rem514: 514/$baseRem+rem;
$rem515: 515/$baseRem+rem;
$rem516: 516/$baseRem+rem;
$rem517: 517/$baseRem+rem;
$rem518: 518/$baseRem+rem;
$rem519: 519/$baseRem+rem;
$rem520: 520/$baseRem+rem;
$rem521: 521/$baseRem+rem;
$rem522: 522/$baseRem+rem;
$rem523: 523/$baseRem+rem;
$rem524: 524/$baseRem+rem;
$rem525: 525/$baseRem+rem;
$rem526: 526/$baseRem+rem;
$rem527: 527/$baseRem+rem;
$rem528: 528/$baseRem+rem;
$rem529: 529/$baseRem+rem;
$rem530: 530/$baseRem+rem;
$rem531: 531/$baseRem+rem;
$rem532: 532/$baseRem+rem;
$rem533: 533/$baseRem+rem;
$rem534: 534/$baseRem+rem;
$rem535: 535/$baseRem+rem;
$rem536: 536/$baseRem+rem;
$rem537: 537/$baseRem+rem;
$rem538: 538/$baseRem+rem;
$rem539: 539/$baseRem+rem;
$rem540: 540/$baseRem+rem;
$rem541: 541/$baseRem+rem;
$rem542: 542/$baseRem+rem;
$rem543: 543/$baseRem+rem;
$rem544: 544/$baseRem+rem;
$rem545: 545/$baseRem+rem;
$rem546: 546/$baseRem+rem;
$rem547: 547/$baseRem+rem;
$rem548: 548/$baseRem+rem;
$rem549: 549/$baseRem+rem;
$rem550: 550/$baseRem+rem;
$rem551: 551/$baseRem+rem;
$rem552: 552/$baseRem+rem;
$rem553: 553/$baseRem+rem;
$rem554: 554/$baseRem+rem;
$rem555: 555/$baseRem+rem;
$rem556: 556/$baseRem+rem;
$rem557: 557/$baseRem+rem;
$rem558: 558/$baseRem+rem;
$rem559: 559/$baseRem+rem;
$rem560: 560/$baseRem+rem;
$rem561: 561/$baseRem+rem;
$rem562: 562/$baseRem+rem;
$rem563: 563/$baseRem+rem;
$rem564: 564/$baseRem+rem;
$rem565: 565/$baseRem+rem;
$rem566: 566/$baseRem+rem;
$rem567: 567/$baseRem+rem;
$rem568: 568/$baseRem+rem;
$rem569: 569/$baseRem+rem;
$rem570: 570/$baseRem+rem;
$rem571: 571/$baseRem+rem;
$rem572: 572/$baseRem+rem;
$rem573: 573/$baseRem+rem;
$rem574: 574/$baseRem+rem;
$rem575: 575/$baseRem+rem;
$rem576: 576/$baseRem+rem;
$rem577: 577/$baseRem+rem;
$rem578: 578/$baseRem+rem;
$rem579: 579/$baseRem+rem;
$rem580: 580/$baseRem+rem;
$rem581: 581/$baseRem+rem;
$rem582: 582/$baseRem+rem;
$rem583: 583/$baseRem+rem;
$rem584: 584/$baseRem+rem;
$rem585: 585/$baseRem+rem;
$rem586: 586/$baseRem+rem;
$rem587: 587/$baseRem+rem;
$rem588: 588/$baseRem+rem;
$rem589: 589/$baseRem+rem;
$rem590: 590/$baseRem+rem;
$rem591: 591/$baseRem+rem;
$rem592: 592/$baseRem+rem;
$rem593: 593/$baseRem+rem;
$rem594: 594/$baseRem+rem;
$rem595: 595/$baseRem+rem;
$rem596: 596/$baseRem+rem;
$rem597: 597/$baseRem+rem;
$rem598: 598/$baseRem+rem;
$rem599: 599/$baseRem+rem;
$rem600: 600/$baseRem+rem;
$rem601: 601/$baseRem+rem;
$rem602: 602/$baseRem+rem;
$rem603: 603/$baseRem+rem;
$rem604: 604/$baseRem+rem;
$rem605: 605/$baseRem+rem;
$rem606: 606/$baseRem+rem;
$rem607: 607/$baseRem+rem;
$rem608: 608/$baseRem+rem;
$rem609: 609/$baseRem+rem;
$rem610: 610/$baseRem+rem;
$rem611: 611/$baseRem+rem;
$rem612: 612/$baseRem+rem;
$rem613: 613/$baseRem+rem;
$rem614: 614/$baseRem+rem;
$rem615: 615/$baseRem+rem;
$rem616: 616/$baseRem+rem;
$rem617: 617/$baseRem+rem;
$rem618: 618/$baseRem+rem;
$rem619: 619/$baseRem+rem;
$rem620: 620/$baseRem+rem;
$rem621: 621/$baseRem+rem;
$rem622: 622/$baseRem+rem;
$rem623: 623/$baseRem+rem;
$rem624: 624/$baseRem+rem;
$rem625: 625/$baseRem+rem;
$rem626: 626/$baseRem+rem;
$rem627: 627/$baseRem+rem;
$rem628: 628/$baseRem+rem;
$rem629: 629/$baseRem+rem;
$rem630: 630/$baseRem+rem;
$rem631: 631/$baseRem+rem;
$rem632: 632/$baseRem+rem;
$rem633: 633/$baseRem+rem;
$rem634: 634/$baseRem+rem;
$rem635: 635/$baseRem+rem;
$rem636: 636/$baseRem+rem;
$rem637: 637/$baseRem+rem;
$rem638: 638/$baseRem+rem;
$rem639: 639/$baseRem+rem;
$rem640: 640/$baseRem+rem;
$rem641: 641/$baseRem+rem;
$rem642: 642/$baseRem+rem;
$rem643: 643/$baseRem+rem;
$rem644: 644/$baseRem+rem;
$rem645: 645/$baseRem+rem;
$rem646: 646/$baseRem+rem;
$rem647: 647/$baseRem+rem;
$rem648: 648/$baseRem+rem;
$rem649: 649/$baseRem+rem;
$rem650: 650/$baseRem+rem;
$rem651: 651/$baseRem+rem;
$rem652: 652/$baseRem+rem;
$rem653: 653/$baseRem+rem;
$rem654: 654/$baseRem+rem;
$rem655: 655/$baseRem+rem;
$rem656: 656/$baseRem+rem;
$rem657: 657/$baseRem+rem;
$rem658: 658/$baseRem+rem;
$rem659: 659/$baseRem+rem;
$rem660: 660/$baseRem+rem;
$rem661: 661/$baseRem+rem;
$rem662: 662/$baseRem+rem;
$rem663: 663/$baseRem+rem;
$rem664: 664/$baseRem+rem;
$rem665: 665/$baseRem+rem;
$rem666: 666/$baseRem+rem;
$rem667: 667/$baseRem+rem;
$rem668: 668/$baseRem+rem;
$rem669: 669/$baseRem+rem;
$rem670: 670/$baseRem+rem;
$rem671: 671/$baseRem+rem;
$rem672: 672/$baseRem+rem;
$rem673: 673/$baseRem+rem;
$rem674: 674/$baseRem+rem;
$rem675: 675/$baseRem+rem;
$rem676: 676/$baseRem+rem;
$rem677: 677/$baseRem+rem;
$rem678: 678/$baseRem+rem;
$rem679: 679/$baseRem+rem;
$rem680: 680/$baseRem+rem;
$rem681: 681/$baseRem+rem;
$rem682: 682/$baseRem+rem;
$rem683: 683/$baseRem+rem;
$rem684: 684/$baseRem+rem;
$rem685: 685/$baseRem+rem;
$rem686: 686/$baseRem+rem;
$rem687: 687/$baseRem+rem;
$rem688: 688/$baseRem+rem;
$rem689: 689/$baseRem+rem;
$rem690: 690/$baseRem+rem;
$rem691: 691/$baseRem+rem;
$rem692: 692/$baseRem+rem;
$rem693: 693/$baseRem+rem;
$rem694: 694/$baseRem+rem;
$rem695: 695/$baseRem+rem;
$rem696: 696/$baseRem+rem;
$rem697: 697/$baseRem+rem;
$rem698: 698/$baseRem+rem;
$rem699: 699/$baseRem+rem;
$rem700: 700/$baseRem+rem;
$rem701: 701/$baseRem+rem;
$rem702: 702/$baseRem+rem;
$rem703: 703/$baseRem+rem;
$rem704: 704/$baseRem+rem;
$rem705: 705/$baseRem+rem;
$rem706: 706/$baseRem+rem;
$rem707: 707/$baseRem+rem;
$rem708: 708/$baseRem+rem;
$rem709: 709/$baseRem+rem;
$rem710: 710/$baseRem+rem;
$rem711: 711/$baseRem+rem;
$rem712: 712/$baseRem+rem;
$rem713: 713/$baseRem+rem;
$rem714: 714/$baseRem+rem;
$rem715: 715/$baseRem+rem;
$rem716: 716/$baseRem+rem;
$rem717: 717/$baseRem+rem;
$rem718: 718/$baseRem+rem;
$rem719: 719/$baseRem+rem;
$rem720: 720/$baseRem+rem;
$rem721: 721/$baseRem+rem;
$rem722: 722/$baseRem+rem;
$rem723: 723/$baseRem+rem;
$rem724: 724/$baseRem+rem;
$rem725: 725/$baseRem+rem;
$rem726: 726/$baseRem+rem;
$rem727: 727/$baseRem+rem;
$rem728: 728/$baseRem+rem;
$rem729: 729/$baseRem+rem;
$rem730: 730/$baseRem+rem;
$rem731: 731/$baseRem+rem;
$rem732: 732/$baseRem+rem;
$rem733: 733/$baseRem+rem;
$rem734: 734/$baseRem+rem;
$rem735: 735/$baseRem+rem;
$rem736: 736/$baseRem+rem;
$rem737: 737/$baseRem+rem;
$rem738: 738/$baseRem+rem;
$rem739: 739/$baseRem+rem;
$rem740: 740/$baseRem+rem;
$rem741: 741/$baseRem+rem;
$rem742: 742/$baseRem+rem;
$rem743: 743/$baseRem+rem;
$rem744: 744/$baseRem+rem;
$rem745: 745/$baseRem+rem;
$rem746: 746/$baseRem+rem;
$rem747: 747/$baseRem+rem;
$rem748: 748/$baseRem+rem;
$rem749: 749/$baseRem+rem;
$rem750: 750/$baseRem+rem;
$rem751: 751/$baseRem+rem;
$rem752: 752/$baseRem+rem;
$rem753: 753/$baseRem+rem;
$rem754: 754/$baseRem+rem;
$rem755: 755/$baseRem+rem;
$rem756: 756/$baseRem+rem;
$rem757: 757/$baseRem+rem;
$rem758: 758/$baseRem+rem;
$rem759: 759/$baseRem+rem;
$rem760: 760/$baseRem+rem;
$rem761: 761/$baseRem+rem;
$rem762: 762/$baseRem+rem;
$rem763: 763/$baseRem+rem;
$rem764: 764/$baseRem+rem;
$rem765: 765/$baseRem+rem;
$rem766: 766/$baseRem+rem;
$rem767: 767/$baseRem+rem;
$rem768: 768/$baseRem+rem;
$rem769: 769/$baseRem+rem;
$rem770: 770/$baseRem+rem;
$rem771: 771/$baseRem+rem;
$rem772: 772/$baseRem+rem;
$rem773: 773/$baseRem+rem;
$rem774: 774/$baseRem+rem;
$rem775: 775/$baseRem+rem;
$rem776: 776/$baseRem+rem;
$rem777: 777/$baseRem+rem;
$rem778: 778/$baseRem+rem;
$rem779: 779/$baseRem+rem;
$rem780: 780/$baseRem+rem;
$rem781: 781/$baseRem+rem;
$rem782: 782/$baseRem+rem;
$rem783: 783/$baseRem+rem;
$rem784: 784/$baseRem+rem;
$rem785: 785/$baseRem+rem;
$rem786: 786/$baseRem+rem;
$rem787: 787/$baseRem+rem;
$rem788: 788/$baseRem+rem;
$rem789: 789/$baseRem+rem;
$rem790: 790/$baseRem+rem;
$rem791: 791/$baseRem+rem;
$rem792: 792/$baseRem+rem;
$rem793: 793/$baseRem+rem;
$rem794: 794/$baseRem+rem;
$rem795: 795/$baseRem+rem;
$rem796: 796/$baseRem+rem;
$rem797: 797/$baseRem+rem;
$rem798: 798/$baseRem+rem;
$rem799: 799/$baseRem+rem;
$rem800: 800/$baseRem+rem;
$rem801: 801/$baseRem+rem;
$rem802: 802/$baseRem+rem;
$rem803: 803/$baseRem+rem;
$rem804: 804/$baseRem+rem;
$rem805: 805/$baseRem+rem;
$rem806: 806/$baseRem+rem;
$rem807: 807/$baseRem+rem;
$rem808: 808/$baseRem+rem;
$rem809: 809/$baseRem+rem;
$rem810: 810/$baseRem+rem;
$rem811: 811/$baseRem+rem;
$rem812: 812/$baseRem+rem;
$rem813: 813/$baseRem+rem;
$rem814: 814/$baseRem+rem;
$rem815: 815/$baseRem+rem;
$rem816: 816/$baseRem+rem;
$rem817: 817/$baseRem+rem;
$rem818: 818/$baseRem+rem;
$rem819: 819/$baseRem+rem;
$rem820: 820/$baseRem+rem;
$rem821: 821/$baseRem+rem;
$rem822: 822/$baseRem+rem;
$rem823: 823/$baseRem+rem;
$rem824: 824/$baseRem+rem;
$rem825: 825/$baseRem+rem;
$rem826: 826/$baseRem+rem;
$rem827: 827/$baseRem+rem;
$rem828: 828/$baseRem+rem;
$rem829: 829/$baseRem+rem;
$rem830: 830/$baseRem+rem;
$rem831: 831/$baseRem+rem;
$rem832: 832/$baseRem+rem;
$rem833: 833/$baseRem+rem;
$rem834: 834/$baseRem+rem;
$rem835: 835/$baseRem+rem;
$rem836: 836/$baseRem+rem;
$rem837: 837/$baseRem+rem;
$rem838: 838/$baseRem+rem;
$rem839: 839/$baseRem+rem;
$rem840: 840/$baseRem+rem;
$rem841: 841/$baseRem+rem;
$rem842: 842/$baseRem+rem;
$rem843: 843/$baseRem+rem;
$rem844: 844/$baseRem+rem;
$rem845: 845/$baseRem+rem;
$rem846: 846/$baseRem+rem;
$rem847: 847/$baseRem+rem;
$rem848: 848/$baseRem+rem;
$rem849: 849/$baseRem+rem;
$rem850: 850/$baseRem+rem;
$rem851: 851/$baseRem+rem;
$rem852: 852/$baseRem+rem;
$rem853: 853/$baseRem+rem;
$rem854: 854/$baseRem+rem;
$rem855: 855/$baseRem+rem;
$rem856: 856/$baseRem+rem;
$rem857: 857/$baseRem+rem;
$rem858: 858/$baseRem+rem;
$rem859: 859/$baseRem+rem;
$rem860: 860/$baseRem+rem;
$rem861: 861/$baseRem+rem;
$rem862: 862/$baseRem+rem;
$rem863: 863/$baseRem+rem;
$rem864: 864/$baseRem+rem;
$rem865: 865/$baseRem+rem;
$rem866: 866/$baseRem+rem;
$rem867: 867/$baseRem+rem;
$rem868: 868/$baseRem+rem;
$rem869: 869/$baseRem+rem;
$rem870: 870/$baseRem+rem;
$rem871: 871/$baseRem+rem;
$rem872: 872/$baseRem+rem;
$rem873: 873/$baseRem+rem;
$rem874: 874/$baseRem+rem;
$rem875: 875/$baseRem+rem;
$rem876: 876/$baseRem+rem;
$rem877: 877/$baseRem+rem;
$rem878: 878/$baseRem+rem;
$rem879: 879/$baseRem+rem;
$rem880: 880/$baseRem+rem;
$rem881: 881/$baseRem+rem;
$rem882: 882/$baseRem+rem;
$rem883: 883/$baseRem+rem;
$rem884: 884/$baseRem+rem;
$rem885: 885/$baseRem+rem;
$rem886: 886/$baseRem+rem;
$rem887: 887/$baseRem+rem;
$rem888: 888/$baseRem+rem;
$rem889: 889/$baseRem+rem;
$rem890: 890/$baseRem+rem;
$rem891: 891/$baseRem+rem;
$rem892: 892/$baseRem+rem;
$rem893: 893/$baseRem+rem;
$rem894: 894/$baseRem+rem;
$rem895: 895/$baseRem+rem;
$rem896: 896/$baseRem+rem;
$rem897: 897/$baseRem+rem;
$rem898: 898/$baseRem+rem;
$rem899: 899/$baseRem+rem;
$rem900: 900/$baseRem+rem;
$rem901: 901/$baseRem+rem;
$rem902: 902/$baseRem+rem;
$rem903: 903/$baseRem+rem;
$rem904: 904/$baseRem+rem;
$rem905: 905/$baseRem+rem;
$rem906: 906/$baseRem+rem;
$rem907: 907/$baseRem+rem;
$rem908: 908/$baseRem+rem;
$rem909: 909/$baseRem+rem;
$rem910: 910/$baseRem+rem;
$rem911: 911/$baseRem+rem;
$rem912: 912/$baseRem+rem;
$rem913: 913/$baseRem+rem;
$rem914: 914/$baseRem+rem;
$rem915: 915/$baseRem+rem;
$rem916: 916/$baseRem+rem;
$rem917: 917/$baseRem+rem;
$rem918: 918/$baseRem+rem;
$rem919: 919/$baseRem+rem;
$rem920: 920/$baseRem+rem;
$rem921: 921/$baseRem+rem;
$rem922: 922/$baseRem+rem;
$rem923: 923/$baseRem+rem;
$rem924: 924/$baseRem+rem;
$rem925: 925/$baseRem+rem;
$rem926: 926/$baseRem+rem;
$rem927: 927/$baseRem+rem;
$rem928: 928/$baseRem+rem;
$rem929: 929/$baseRem+rem;
$rem930: 930/$baseRem+rem;
$rem931: 931/$baseRem+rem;
$rem932: 932/$baseRem+rem;
$rem933: 933/$baseRem+rem;
$rem934: 934/$baseRem+rem;
$rem935: 935/$baseRem+rem;
$rem936: 936/$baseRem+rem;
$rem937: 937/$baseRem+rem;
$rem938: 938/$baseRem+rem;
$rem939: 939/$baseRem+rem;
$rem940: 940/$baseRem+rem;
$rem941: 941/$baseRem+rem;
$rem942: 942/$baseRem+rem;
$rem943: 943/$baseRem+rem;
$rem944: 944/$baseRem+rem;
$rem945: 945/$baseRem+rem;
$rem946: 946/$baseRem+rem;
$rem947: 947/$baseRem+rem;
$rem948: 948/$baseRem+rem;
$rem949: 949/$baseRem+rem;
$rem950: 950/$baseRem+rem;
$rem951: 951/$baseRem+rem;
$rem952: 952/$baseRem+rem;
$rem953: 953/$baseRem+rem;
$rem954: 954/$baseRem+rem;
$rem955: 955/$baseRem+rem;
$rem956: 956/$baseRem+rem;
$rem957: 957/$baseRem+rem;
$rem958: 958/$baseRem+rem;
$rem959: 959/$baseRem+rem;
$rem960: 960/$baseRem+rem;
$rem961: 961/$baseRem+rem;
$rem962: 962/$baseRem+rem;
$rem963: 963/$baseRem+rem;
$rem964: 964/$baseRem+rem;
$rem965: 965/$baseRem+rem;
$rem966: 966/$baseRem+rem;
$rem967: 967/$baseRem+rem;
$rem968: 968/$baseRem+rem;
$rem969: 969/$baseRem+rem;
$rem970: 970/$baseRem+rem;
$rem971: 971/$baseRem+rem;
$rem972: 972/$baseRem+rem;
$rem973: 973/$baseRem+rem;
$rem974: 974/$baseRem+rem;
$rem975: 975/$baseRem+rem;
$rem976: 976/$baseRem+rem;
$rem977: 977/$baseRem+rem;
$rem978: 978/$baseRem+rem;
$rem979: 979/$baseRem+rem;
$rem980: 980/$baseRem+rem;
$rem981: 981/$baseRem+rem;
$rem982: 982/$baseRem+rem;
$rem983: 983/$baseRem+rem;
$rem984: 984/$baseRem+rem;
$rem985: 985/$baseRem+rem;
$rem986: 986/$baseRem+rem;
$rem987: 987/$baseRem+rem;
$rem988: 988/$baseRem+rem;
$rem989: 989/$baseRem+rem;
$rem990: 990/$baseRem+rem;
$rem991: 991/$baseRem+rem;
$rem992: 992/$baseRem+rem;
$rem993: 993/$baseRem+rem;
$rem994: 994/$baseRem+rem;
$rem995: 995/$baseRem+rem;
$rem996: 996/$baseRem+rem;
$rem997: 997/$baseRem+rem;
$rem998: 998/$baseRem+rem;
$rem999: 999/$baseRem+rem;
$rem1000: 1000/$baseRem+rem;
