.header {
  display: flex;
  min-height: 65px;
  padding-top: 40px;

  &-logo {
    width: 140px;
    height: 65px;
  }
}

.nav {
      display: flex;
      justify-content: flex-end;
      margin-left:auto;
  ul {
    display: flex;
    align-items: center;
    li {
      padding-left: 22px;
      padding-right: 22px;
      list-style-type: none;
      a {
        color: #ffffff;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        text-decoration: none;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 991px) {}
@media (max-width: 800px) {.nav ul li a {font-size: 12px;}}
@media (max-width: 767px) {.nav {display: none;}}
@media (max-width: 575px) {}