//TODO: При уменьшении экрана по 1 стране убирать

.lang {
  padding-top: 19px;
  padding-bottom: 16px;
  height: 85px;

  &-country{
    display: flex;
    justify-content: space-between;
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &-img {
    margin-top: 3px;
    width: 28px;
    height: 21px;
    margin-right: 11px;
  }
  &-text {
    &__title {
      color: #242424;
      font-size: $rem12;
      font-weight: 700;
    }
    &__desc {
      font-weight: 300;
      color: #242424;
      font-size: $rem12;
    }
  }
}

@media (min-width: 450px) and (max-width: 1100px) {.lang-item:last-child {display: none;}}
@media (min-width: 450px) and (max-width: 900px) {.lang-item:nth-child(4) {display: none;}}
@media (min-width: 450px) and (max-width: 700px) {.lang-item:nth-child(3) {display: none;}}

@media (max-width: 450px) {
  .lang {padding-top: 10px; height: 50px;}
  .lang-text {display: none;}
  .lang-item {display: flex;}
}
