.feedback
  height: 570px
  background-color: #f4f4f4
  padding-top: 55px
  padding-bottom: 66px
  &__title
    @extend .production__tittle
    margin-top: 0
    line-height: 22px
  &__img
    @extend .production__img
    margin-bottom: 30px
  &-slider
    &_item
      outline: none
    img
      outline: none
      margin: 0 auto