@import url('https://fonts.googleapis.com/css?family=Neucha');

@import url('https://fonts.googleapis.com/css?family=Pangolin');

body{
    background-color: #DCDCDC;
    font-family: 'Pangolin', cursive;
}

main{
    /*width:960px;*/
    width:80%;
    margin: 0 20% 0 20%;
    margin: 0 auto;
    background-color: #eee;
}

main>span{
    display:block;
    text-align: center;
}

#title{
    font-family: 'Neucha', cursive;
    text-align: center;
}

#img-div{
    background-color: white;
}

#image{
    display: block;
    /*height: 80%;*/
    width: 97%;
    max-height: 600px;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 2%;
}

#img-caption{
    display:block;
    text-align: center;
}

ul>li{
    list-style-image: url("../img/li.png");
    margin-top: 5px;
}

.marvel_name:before{
    content:" ";
}

.marvel_name{
    font-weight: bold;
}

.marvel_ico{
    width:24px; 
    height:24px; 
    vertical-align:bottom;  
}

footer{
    width:80%;
    margin: 0 20% 0 20%;
    margin: 0 auto;
    background-color: #eee;
    text-align: center;
}