@import 'libs/bootstrap-reboot';
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 991px) {body {font-size: 13px;}}
@media (max-width: 767px) {body {font-size: 12px;}}
@media (max-width: 575px) {body {font-size: 13px;}}

.container {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  margin: 0 auto;
  //border: 1px solid black;
}



@import 'base/em';
@import 'base/rem';
@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/reliability';
@import 'blocks/agent';