.agent {
  background: rgba(0, 0, 0, 0.4) url(../img/decor/bg_agent.jpg) center center/cover no-repeat;;
  min-height: $rem342;
  padding-top: $rem54;
  padding-bottom: $rem75;
  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102px;
    width: 102px;
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 auto;
  }
  &-title {
    color: #ffffff;
    font-size: $em26;
    font-weight: 700;
    line-height: $em23;
    text-align: center;
    margin-top: $rem20;
  }
  &-descr {
    max-width: $rem984;
    text-align: center;
    color: #ffffff;
    font-size: $em19;
    font-weight: 300;
    line-height: $em27;
    margin: 0 auto;
    margin-top: $rem22;

  }
}