.review {
  min-height: $rem470;
  padding-top: $rem51;
  padding-bottom: $rem65;
  &-subtitle {
    color: #2e2e2e;
    font-size: $rem21;
    font-weight: 300;
    text-align: center;
    margin-bottom: $rem30 ;
  }
  &-slider {
    position: relative;
    &-prev {
      position: absolute;
      background: url(../img/icons/arrow_left-reviews.png) center center/cover no-repeat;
      border: none;
      width: 14px;
      height: 46px;
      top: 10%;
      left: 50%;
      transform: translate(-800%, 20%);
      z-index: 1;
    }
    &-next {
      position: absolute;
      background: url(../img/icons/arrow_right-reviews.png) center center/cover no-repeat;
      border: none;
      width: 14px;
      height: 46px;
      top: 10%;
      left: 50%;
      transform: translate(800%, 20%);
      z-index: 1;
    }
  }

  &-item {
    display: flex;
    //width: 601px;
    margin: 0 auto;
    text-align: center;

    &__img {
      width: 114px;
      height: 114px;
      margin: 0 auto;
      margin-bottom: $rem20;
      border-radius: 100px;
    }
    &__text {
      max-width: 601px;
      margin: 0 auto;
    }
    &__title {
    font-size: $rem18;
    font-weight: 700;
    margin-bottom: $rem10;
    }
    &__desc {
    //width: 601px;
    color: #3a3a3a;
    font-size: $rem14;
    font-weight: 300;
 
    }
  }
}


.slick-slider {
  position: relative;
}
.slick-arrow {
  border: none;
  outline: none;
}


@media (max-width: 767px) {
  .review-item {width: 100%;}
  .review-item__text {width: 100%;}
}

@media (min-width: 768px) {
  .review-item {width: 601px;}
  .review-item__text {width: 601px;}
}